.main-div
{
    display: flex;
    flex-direction: column;
    width: 15rem;
    height: 10rem;
    background-color: ivory;
    border-radius: 1rem;
    box-shadow: 1px 1px 5px black;
    border: 2px solid black;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    margin: auto;
}